/* Estilos para el cuerpo del documento */
.messages-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Color de fondo */
}

/* Estilos para el encabezado */
header {
    padding: 20px 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(112, 0, 187, 0.35)); /* Degradado de color blanco a tu color */
    font-family: monospace; 
    font-size: 25px;
    letter-spacing: 10px;
    
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilos para la sección izquierda de la barra de navegación */
.left-section {
    display: flex;
    align-items: center;
}

.left-section img {
    width: 30px; /* Tamaño del logo */
    height: auto; /* Para mantener la proporción */
    margin-right: 10px;
}

.left-section span {
    color: #000000; /* Color del texto del nombre */
    font-weight: bold;
}

/* Estilos para la sección derecha de la barra de navegación */
.right-section button {
    background-color: transparent;
    border: none;
    color: #fff; /* Color del texto de los botones */
    cursor: pointer;
    margin-left: 10px;
    padding: 0; /* Ajuste para que no haya espacio adicional alrededor de los iconos */
    border-radius: 5px;
    transition: background-color 0.3s;

}

.right-section button:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(112, 0, 187, 0.35)); /* Degradado de color blanco a tu color */
    transform: scale(1.6);
}

.right-section button img {
    width: 30px; /* Tamaño de los iconos */
    height: auto; /* Para mantener la proporción */
}

/* Estilos de la bandeja de entrada */
.inbox {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff; /* Color de fondo */
}

.message {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.sender {
    font-weight: bold;
}

.date {
    color: #888;
}

.message-content {
    color: #333;
}
/* Estilos para la notificación de mensaje no leído */
.notification {
    background-color: #5f0099; /* Color de fondo del badge */
    color: #fff; /* Color del texto */
    border-radius: 50%; /* Hace que el badge sea redondo */
    padding: 3px 6px; /* Ajuste del espaciado interno */
    font-size: 12px; /* Tamaño de fuente */
    margin-left: 10px; /* Espacio entre la fecha y la notificación */
}

/* Estilos para la notificación de mensaje enviado por ti */
.sent-notification {
    background-color: #2ecc71; /* Color de fondo del badge */
    color: #fff; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    padding: 3px 6px; /* Ajuste del espaciado interno */
    font-size: 12px; /* Tamaño de fuente */
    margin-left: 10px; /* Espacio entre la fecha y la notificación */
}