/* Estilos para el cuerpo del documento */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Estilos para el encabezado */
header {
    background-color: #acceee;
    padding: 10px 0;
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilos para la sección izquierda de la barra de navegación */
.left-section {
    display: flex;
    align-items: center;
}

.left-section img {
    width: 30px; /* Tamaño del logo */
    height: auto; /* Para mantener la proporción */
    margin-right: 10px;
}

.left-section span {
    color: #fff; /* Color del texto del nombre */
    font-weight: bold;
}

/* Estilos para la sección derecha de la barra de navegación */
.right-section button {
    background-color: transparent;
    border: none;
    color: #fff; /* Color del texto de los botones */
    cursor: pointer;
    margin-left: 10px;
    padding: 0; /* Ajuste para que no haya espacio adicional alrededor de los iconos */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.right-section button:hover {
    background-color: rgb(87, 224, 239); /* Cambio de color al pasar el cursor */
}

.right-section button img {
    width: 30px; /* Tamaño de los iconos */
    height: auto; /* Para mantener la proporción */
}
